@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
  
::-webkit-scrollbar {
  width: 10px;
}
  
::-webkit-scrollbar-thumb {
  /* border-radius: 4px; */
  background-color: #46624c;
}

/* ELIMINAR FLECHITAS DEL INPUT TYPE NUMBER */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

* , *:before, *:after{ 
  box-sizing:border-box; 
  -moz-box-sizing:border-box; 
  -webkit-box-sizing:border-box; 
  -ms-box-sizing:border-box;
}